footer{
    height:50px;
}


header nav aside .nav-link{
    font-size: 150%;
    margin-right: 30px;
    margin-left: 15px;
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
}

.nav-link:hover{
    color: red !important;
    font-weight: bolder !important;
}